


<section class="comment-container">
    <p>{{this.comment_content}}</p>

    <div class="comment-body">            
    </div>
</section>

<section class="comment-container">
  <div class="comment-body">
    <p>
      Review:
      {{this.comment_content}}
    </p>
  </section>



